# <font color=blue>Assignments for "Data Cleaning - Variable Types"</font>

**(1)** Determine the types of the below-given variables:
- Age
- Salary
- Income
- Customer type
- Stock price

- Age ---> Ratio- Continuous
- Salary ---> Continuous
- Income ---> Continuous
- Customer Type ---> Nominal
- Stock Price ---> Continuous

**(2)** Using the `movie` data, we have studied in this lesson. Complete the following tasks:

    * Select a variable from the `movie` dataset and discuss the variable type of this variable

    * Categorize a variable of your choice and assign a name to it
    
    * Count the number of rows for each category

In [ ]:
import pandas as pd
import numpy as np
movie = pd.read_csv("https://djl-lms-assets.s3.eu-central-1.amazonaws.com/datasets/movie.csv")
movie.head()

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

In [ ]:
display(movie['title_year'].head())

movie['title_year'].dtype

0    2009.0
1    2007.0
2    2015.0
3    2012.0
4       NaN
Name: title_year, dtype: float64

dtype('float64')

In [ ]:
movie['title_year'].describe()

count    4935.000000
mean     2002.470517
std        12.474599
min      1916.000000
25%      1999.000000
50%      2005.000000
75%      2011.000000
max      2016.000000
Name: title_year, dtype: float64

In [ ]:
def title_year_categorize(title_year):
  if pd.isnull(title_year):
    return np.nan
  elif title_year <2002:
    return 'old'
  elif title_year >2002 and title_year < 2008:
    return 'medium'
  else:
    return 'new'

movie['title_year_categorize'] = movie['title_year'].apply(title_year_categorize)

In [ ]:
print("Number of rows of each category:\n")
movie.groupby("title_year_categorize")["title_year"].count()

Number of rows of each category:

title_year_categorize
medium    1047
new       2191
old       1697
Name: title_year, dtype: int64

In [ ]:
movie['title_year_categorize'].unique()

array(['new', 'medium', nan, 'old'], dtype=object)

**(3)** Is it possible to convert categorical variable into numerical one? If so, how can you make that?

Each of the categories created in the previous question can be converted into numerical data with the help of LabelEncoding. So yes it is possible.

In [ ]:
def title_year(title_year):
  if pd.isnull(title_year):
    return np.nan
  elif title_year == 'old':
    return 0
  elif title_year == 'medium':
    return 1
  else:
    return 2

movie['title_year'] = movie['title_year_categorize'].apply(title_year)

movie.head()

   color      director_name  ...  movie_facebook_likes  title_year_categorize
0  Color      James Cameron  ...                 33000                    new
1  Color     Gore Verbinski  ...                     0                 medium
2  Color         Sam Mendes  ...                 85000                    new
3  Color  Christopher Nolan  ...                164000                    new
4    NaN        Doug Walker  ...                     0                    NaN

[5 rows x 29 columns]

In [ ]:
movie['title_year'].unique()

array([ 2.,  1., nan,  0.])

**(4)** While continuous data is generally preferred over discrete data, please indicate circumstances where discrete is the preferred data type although continuous data is available for the same characteristic.

Because the float data type takes up more disk space than an integer variable, it may be better to convert continuous data saved as floating point to separate data that is saved as an integer, especially in large data sets.

**(5)** While continuous data is measured and attribute data is counted, there is sometimes confusion if some specific dataset should be considered continuous or attribute. Provide some examples of confusing datasets and your inference.

When we check the data types of the values ​​in the dataset, the data type of the object can be called qualitative, although some variables normally take quantitative values. This situation causes us to be mistaken during the analysis. For example, defining the TotalCharges column as an object.