**(1)** Please form a multiplication table from user input.

    Example :

        Enter a number : 6
        6 x 1 = 6                                                               
        6 x 2 = 12                                                              
        6 x 3 = 18                                                              
        6 x 4 = 24                                                              
        6 x 5 = 30                                                              
        6 x 6 = 36                                                              
        6 x 7 = 42                                                              
        6 x 8 = 48                                                              
        6 x 9 = 54                                                              
        6 x 10 = 60

In [ ]:
num = int(input("Enter the number: "))
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

Enter the number: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

**(2)** Simply by using list compherension, form a list by taking square of odds numbers and by calculating cube of even numbers from 1 to 20.

In [ ]:
numbers = [x**3 if x % 2 == 0 else x**2 for x in range(1,21)]
print(numbers)

[1, 8, 9, 64, 25, 216, 49, 512, 81, 1000, 121, 1728, 169, 2744, 225, 4096, 289, 5832, 361, 8000]

In [ ]:
even_numbers = [x**3 for x in range(1,21) if x%2 == 0] 
odd_numbers = [x**2 for x in range(1,21) if x%2 != 0]
print(even_numbers)
print(odd_numbers)

[8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000]
[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

**(3)** Please type a code that inverts the initial user input.

    Example : "automobile" --> "elibomotua"

In [ ]:
word = input("Enter the word: ")
print(word,"-->",word[::-1])

Enter the word: automobile
automobile --> elibomotua

**(4)** Using `range(1, 201)`, make two lists. One is containing all even numbers and the other containing all odd numbers.

In [ ]:
even_numbers = []
odd_numbers = []

for i in range(1,201):
    if i % 2 == 0:
        even_numbers.append(i)
    else:
        odd_numbers.append(i)

print(even_numbers)
print(odd_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199]

**(5)** Define a function called `count` that has two arguments called `sequence` and `item`. Return the number of times the item occurs in the list.<br>

    Example:
    ```python
    count([1,2,1,1], 1)
    ```
    It should return 3. Because `1` appears 3 times in the list.

In [ ]:
def count(sequence, item):
    cnt = 0
    for i in sequence:
        if i == item:
            cnt += 1
    print("It should return {}. Because '{}' appears {} times in the list".format(cnt,item,cnt))

count([1,2,1,1],1)

It should return 3. Because '1' appears 3 times in the list

**(6)** Write a function called `digit_sum` that takes a positive integer n as input and returns the sum of all that number's digits as a single-digit number.

    Example:
        27684 --> 2 + 7 + 6 + 8 + 4 = 27 --> 2 + 7 = 9

In [ ]:
def digit_sum(n):  
     
    sum = 0
    for digit in str(n):   
      sum += int(digit)        
    return sum
    
number = int(input("Enter the number: "))

first = digit_sum(number)
second = digit_sum(digit_sum(number))
print(number,"-->",first,"-->",second)

Enter the number: 27684
27684 --> 27 --> 9

**(7)** Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers.

In [ ]:
def gcd(num1, num2):

# choose the smaller number
    if num1 > num2:
        smaller = num2
    else:
        smaller = num1
    for i in range(1, smaller+1):
        if((num1 % i == 0) and (num2 % i == 0)):
            gcd = i 
    return gcd

number1 = 60 
number2 = 48
print("HCF or GCD of %d and %d is: %d" %(number1, number2, gcd(number1, number2)))

HCF or GCD of 60 and 48 is: 12

**(8)** Write a Python program that iterates integers from 1 to 50. For multiples of three print `fizz` instead of the number and for the multiples of five print `buzz`. For numbers which are multiples of both three and five print `fizzbuzz`.

In [ ]:
for fizzbuzz in range(51):
    if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
        print("fizzbuzz")
        continue
    elif fizzbuzz % 3 == 0:
        print("fizz")
        continue
    elif fizzbuzz % 5 == 0:
        print("buzz")
        continue
    print(fizzbuzz)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz

**(9)** Please form a list out of Fibonacci numbers from 1 to 50. The first two Fibonacci numbers are 1. The next numbers are the sum of the previous two.

In [ ]:
def fib(n):
 a, b = 0, 1
 while b < n:
  fl.append(b)
  a, b = b, a+b

fl=[]
#last=int(input("Last number to list: "))
fib(50)
print(fl)

[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
def Fibonacci(Number):
  if(Number == 0):
    return 0
  elif(Number == 1):
    return 1
  else:
    return (Fibonacci(Number - 2) + Fibonacci(Number - 1))

n = int(input("Enter the value of 'n': "))
fib=[]
print("Fibonacci Series:", end = ' ')
for n in range(1, n):
  fib.append(Fibonacci(n))

print(fib)

Enter the value of 'n': 30
Fibonacci Series: [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229]